*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
.header{
  background: #fff;
  .logo{
    width: 2rem;
    height: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    a{
      text-decoration: none;
      .icon-dangdang{
        font-size: 1.5rem;
        color: #F0374E;
        display: inline-block;
        margin-left: 0.4rem;
      }
    }
  }
  .sousuo{
    height: 2rem;
    display: inline-block;
    margin-top: 0.3rem;
    vertical-align: middle;
    form{
      display: inline-block;
      .sousuo-box{
        height: 1.5rem;
        background: #E8ECF0;
        border-radius: 0.8rem;
        .icon-sousuo{
          font-size: 0.8rem;
          padding-left: 0.4rem;
        }
        input{
          width: 9rem;
          height: 1.2rem;
          background: #E8ECF0;
          border-radius: 0.8rem;
          outline:none;
          border: none;
          position: relative;
          top: -0.2rem;
          display: inline-block;
          padding-right: 1rem;
          font-size: 0.5rem;
        }
      }
    }
    .icon-caidan{
      font-size: 1rem;
      display: inline-block;
      margin-top: 0.1rem;
      color: #879299;
    }
  }
}
.swiper-container {
  width: 100%;
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img{
      width: 100%;
    }
  }
  .swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active{
    background: #007aff;
  }
}
.wrapper-1{
  display: block;
  margin: 0 auto;
  .wrapper-ul{
    display: block;
    background-color: #fff;
    list-style: none;
    li{
      display: block;
    }
    a{
      text-decoration: none;
      color: inherit;
      img{
        display: block;
        width: 100%;
        overflow: hidden;
        height: 6.2rem;
        vertical-align: middle;
      }
    }
  }
}
.wrapper-2{
  display: block;
  margin: 0 auto;
  .wrapper-list{
    background-color: #fff;
    display: block;
    overflow: hidden;
    .wrapper-li{
      display: block;
      float: left;
      width: 20%;
      a{
        display: block;
        img{
          display: block;
          width: 100%;
          height: 3.2rem;
        }
      }
    }
  }
}
.wrapper-3{
  display: block;
  margin: 0 auto;
  .wrapper-3-box{
    background-color: #fff;
    overflow: auto;
    .box1{
      margin-left: 0.5rem;
      display: inline-block;
      vertical-align: middle;
      .box1-a{
        font-size: 1rem;
        display: inline-block;
      }
      .ul-list{
        display: inline-block;
        overflow: hidden;
        padding-right: 2.2rem;
          .li-slide{
            display: block;
            padding-left: .3333rem;
            height: 1.75rem;
            a{
              display: block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              line-height: 0;
              padding: .5417rem 0;
              color: #3c3c3c;
              text-decoration: none;
              .span1{
                display: block;
                float: left;
                color: #ffffff;
                border: 1px solid #f23d0a;
                height: .5rem;
                padding: 0.1rem 0.1rem 0.1rem 0.1rem;
                margin-right: 0.16rem;
                  .span2{
                    font-size: 0;
                    height: 100%;
                    display: inline-block;
                    i{
                      display: block;
                      color: #f23d0a;
                      font-size: .5rem;
                    }
                  }
              }
              .text{
                color: #3c3c3c;
                display: inline;
                line-height: .6667rem;
                font-size: .55rem;
              }
            }
          }
      }
    }
    .more{
      display: inline-block;
      font-size: 0.6rem;
      color: #999;
      text-decoration: none;
      float: right;
      margin-right: 1rem;
      margin-top: 0.4rem;
    }
  }
}
.wrapper-4{
  height:0.4rem;
  width: 100%;
  background-color: #EFF4FA;
}
.section-1{
  width: 100%;
  background-color: #fff;
  .pinpai{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .tupian{
    width: 100%;
    margin: 0 auto;
    .tupian-box{
      width: 100%;
      overflow: hidden;
      ul{
        li{
          overflow: hidden;
          dl{
            dd{
              width: 20%;
              float: left;
              box-sizing: border-box;
              a{
                text-decoration: none;
                img{
                  width: 100%;
                  height: auto;
                  vertical-align: middle;
                  border: 0 none;
                }
              }
            }
          }
        }
      }
    }
  }
  .today-img{
    width: 100%;
    overflow: hidden;
    .img-ul{
      overflow: hidden;
      padding: 0 0.21rem;
      li{
        float: left;
        width: 4.42rem;
        a{
          padding: 0 0.21rem;
          display: block;
          color: #323232;
          .pic{
            img{
              vertical-align: middle;
              display: block;
              width: 100%;
              height: auto;
              border: 0 none;
              overflow: hidden;
            }
          }
          .name{
            font-size: 0.6rem;
            line-height: 0.6rem;
            overflow: hidden;
            height: 1.1rem;
            text-overflow: ellipsis;
          }
          .price{
            padding: 0.16rem 0 0.37rem 0;
            .rob{
              display: block;
              font-size: 0.6rem;
              color: #f3344a;
            }
          }
        }
      }
    }
  }
}
.wrapper-5{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    overflow: hidden;
  }
}
.weipinhui{
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  .title{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    img{
      width: 100%;
      text-align: center;
    }
  }
  img{
    width: 100%;
    text-align: center;
  }
}
.border-1{
  display: block;
  border: 1px solid #eff4fa;
}
.weipinhui-ul{
  display: block;
  overflow: hidden;
  width: 100%;
  li{
    display: block;
    float: left;
    width: 33.1%;
    height: 100%;
    a{
      display: block;
      background-color: #fff;
      height: 6rem;
      overflow: hidden;
      img{
        display: block;
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
      .title{
        display: block;
        padding: 0 0.48rem 0 0.45rem;
        text-align: center;
        b{
          font-size: 0.6rem;
          color: #323232;
        }
        i{
          display: block;
          height: 0.7rem;
          overflow: hidden;
          font-size: 0.6rem;
          font-style: normal;
        }
      }
    }
  }
}
.ul-1{
  display: block;
  overflow: hidden;
  width: 100%;
  li{
    display: block;
    float: left;
    width: 33.3%;
    margin-top: 0.1rem;
    a{
      display: block;
      background-color: #fff;
      height: 6.5rem;
      overflow: hidden;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
//底部
.footer-nav{
  display: block;
  width: 100%;
  padding: 0.25rem 0;
  background-color: #fcfcfc;
  border-top: 1px solid #e3e3e3;
  position: fixed;
  bottom: 0;
  .bottom-a{
    height: 100%;
    display: block;
    float: left;
    overflow: hidden;
    img{
      display: block;
      width: 1.5rem;
      height: 1.3rem;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.footer{
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  .status{
    background-color: #fff;
    height: 1.8rem;
    line-height: 1.8rem;
    overflow: hidden;
    color: #4d525d;
    border: 1px solid #e5e5e5;
    font-size: 0.65rem;
    .action{
      a{
        float: left;
        display: inline-block;
        margin-left: 0.8rem;
        color: #4d525d;
      }
    }
    .top{
      float: right;
      padding: 0 0.33rem 0 0.83rem;
      background: url("images/goto-top-new.png") no-repeat
      0.1rem center;
      background-size: 0.5rem;
      font-size: 0.65rem;
      padding-left: 0.6rem;
    }
  }
  .footer-div{
    margin: 0.21rem 0.46rem;
    p{
      text-align: center;
      a{
        font-size: 0.65rem;
        padding: 0 0.21rem;
        line-height: 1rem;
        color: #323232;
      }
    }
  }
  .copyright{
    margin-bottom: 3rem;
    p{
      text-align: center;
      color: #999;
      font-size: 0.6rem;
    }
  }
}



